.hypothesis
.mypy_cache
.ruff_cache
__pycache__
.env
.trae
.trae/

# Ignorar todo dentro de la carpeta de salida
output/*

!output/.gitkeep

wordlists/*

!wordlists/.gitkeep

__pycache__/
*.pyc
.venv/
.env